@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Noto+Serif+KR&display=swap');

html{font-size:16px;} /* 1vw는 디바이스 사이즈에 맞춰짐(반응형) */
/* 전체 폰트를 한번에 변경할수 있다 / **폰트사이즈를 rem으로 입력했을경우** */

body{margin:0; font-family:'inter';}

h1,h2,h3,p,figure{margin:0;}
ul,li{margin:0; padding:0; list-style:none;}
img{vertical-align: middle;}
a{ text-decoration: none;  color:#000; }

*{box-sizing: border-box;}